<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkty</title>
    <link rel="stylesheet" href="/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="topnav">
    <a href="/known" class="back">Wszystkie Produkty</a>
    <div class="search-container">
        <input type="text" name="searchbar" placeholder="Wyszukaj produkt.." id="searchbar">
        <button onclick="window.location.href=`/known?search=${document.getElementById('searchbar').value}`" style="color:white" ><i class="fa fa-search"></i></button>
    </div>
    <div class="cart">
        <button onclick=""><i class="fa fa-shopping-cart" style="color:white"></i></button>
    </div>

</div>

<div class="row_products">
    <% products.forEach(function(product) { %>
        <div class="product">
            <div class="product-image">
                <img src="/images/<%= product.PICTURE %>" alt="<%= product.NAME %>">
            </div>

            <div class="info">
                <div class="product-title">
                    <h2 class="title"><%= product.NAME %></h2>
                    <h3 class="description"><%= product.DESCRIPTION %></h2>
                </div>
                <div class="detail">
                    <div>
                        <span class="price"><%= parseFloat(product.PRICE).toFixed(2) %> zł</span>
                    </div>
                    <div class="add_cart">
                        <button class="addbutton">Do koszyka</button>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>

</div>

</body>
</html>
