<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkty</title>
    <link rel="stylesheet" href="/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="row_products">
    <% products.forEach(function(product) { %>
        <div class="product">
            <div class="product-image">
                <img src="/images/<%= product.PICTURE %>" alt="<%= product.NAME %>">
            </div>

            <div class="info">
                <div class="product-title">
                    <h2 class="title"><%= product.NAME %></h2>
                    <h3 class="description"><%= product.DESCRIPTION %></h2>
                </div>
                <div class="detail">
                    <div>
                        <span class="price"><%= parseFloat(product.PRICE).toFixed(2) %> zł</span>
                    </div>
                </div>
            </div>
            <button onclick="window.location.href='/modify'" class="btn">Modyfikuj produkt</button><br>
            <button onclick="window.location.href='/delete/:id'" class="btn">Usuń produkt</button>
        </div>
    <% }); %>

</div>

</body>
</html>
